<ion-header>
  <ion-toolbar>
    <ion-title>book-summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-title>
    Christian reflections during a crisis
   </ion-card-title>
  <ion-card-content>
    <p>
      This title was written during the corona virus global pandemic , during a time when the world was
      forced into a lockdown , the author took the opportunity to reflect and wrote down some of the reflections
      He had, which can be organized into four. namely Prayer , Navigating relationships , Faith and unconventional Ideas.
      This is a unique book because it serves as devotional and also a Autobiography.
    </p>
    <ion-button  routerLink="/book-play" routerDirection="forward" color="success">Play</ion-button>
  </ion-card-content>
</ion-card>
<ion-footer>
</ion-footer>
