<ion-header>
  <ion-toolbar>
    <ion-title>book-summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-title>
    Christian reflections during a crisis
   </ion-card-title>
  <ion-card-content>
    <p>
      This title was written during the corona-virus global pandemic, a time when the whole world was
      forced into a lockdown, the author took the opportunity to reflect and write down some of the reflections
      He had, which can be organized into four groups of thoughts, namely : Faith , Prayer , Relationships and unconventional spiritual ideas.
      This book is one of a kind because its Devotional and an Autobiography, all at once.
    </p>
    <ion-button  routerLink="/book-play" routerDirection="forward" color="success">Play</ion-button>
  </ion-card-content>
</ion-card>
<ion-footer>
</ion-footer>
