<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Lentswe</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This is a app for Christian audiobooks. please do enjoy yourself as you feed your spirit
      Come a little more closer to Christ.
    </ion-card-content>
  </ion-card>
  <ion-button  routerLink="/library" routerDirection="forward" color="success">Start listening</ion-button>
  </ion-content>